In [2]:
import pandas as pd
import json
import geopandas as gp
from geopy import distance

%matplotlib inline

In [7]:
muni_gdf = gp.read_file('shapefiles/Municipal_Boundaries/Municipal_Boundaries.shp')
tract_gdf = gp.read_file('shapefiles/KingCountyTracts/kc_tract_10.shp')

In [23]:
t = tract_gdf[['OBJECTID', 'STATEFP10', 'COUNTYFP10', 'TRACTCE10', 'GEOID10', 'geometry']]
m = muni_gdf[['OBJECTID', 'CITYNAME', 'geometry']]
m = m.to_crs(epsg=2926)

In [19]:
pd.options.display.max_rows = 500

In [27]:
mt = gp.sjoin(t, m, how='left', op='intersects', lsuffix='', rsuffix='_muni')

In [29]:
mt[['GEOID10', 'CITYNAME']]

         GEOID10          CITYNAME
0    53033022006          Kirkland
1    53033032320       Woodinville
2    53033031703         Covington
2    53033031703              Kent
3    53033031206            Auburn
..           ...               ...
394  53033022202          Kirkland
395  53033032323           Redmond
396  53033021600           Kenmore
396  53033021600  Lake Forest Park
397  53033021903          Kirkland

[589 rows x 2 columns]